<div class="content">
    <div>
      <img class="photo" [src]="'/assets/img-source/defaut.jpeg'" alt="Descrição da Imagem">
      <div class="text-one">
        <ul class="list">
            <li>
                Travel
            </li>
            <li>*</li>
            <li>Octuber,2022</li>
        </ul>
        <div>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet. Non cumque autem ut Lorem ipsum dolor sit amet. Non cumque autem ut    </p>
            <a href="#">READ MORE</a>
        </div>
    
     
    <div class="content">
      <div>
        <img class="photo" [src]="'/assets/img-source/defaut.jpeg'" alt="Descrição da Imagem">
        <div class="text-one">
          <ul class="list">
              <li>
                  Travel
              </li>
              <li>*</li>
              <li>Octuber,2022</li>
          </ul>
          <div>
              <h1>Lorem ipsum dolor sit amet.</h1>
              <p>Lorem ipsum dolor sit amet. Non cumque autem ut Lorem ipsum dolor sit amet. Non cumque autem ut    </p>
              <a href="#">READ MORE</a>
          </div>
      </div> 
      <div class="content">
        <div>
          <img class="photo" [src]="'/assets/img-source/defaut.jpeg'" alt="Descrição da Imagem">
          <div class="text-one">
            <ul class="list">
                <li>
                    Travel
                </li>
                <li>*</li>
                <li>Octuber,2022</li>
            </ul>
            <div>
                <h1>Lorem ipsum dolor sit amet.</h1>
                <p>Lorem ipsum dolor sit amet. Non cumque autem ut Lorem ipsum dolor sit amet. Non cumque autem ut    </p>
                <a href="#">READ MORE</a>
            </div>
        </div>
           


  